You are helping to formalize an informal mathematical statement into Lean using the mathlib library. The statement is:

{{ informal_statement }}

Here are some potentially relevant definitions and structures:

{{ definitions }}

Instructions:
1. Select important definitions and structures necessary to formalize the statement.
2. IMPORTANT: ONLY SELECT definitions from the GIVEN list.
3. Enclose each of them in separate <definition> tags.
4. Only state the full names of the definitions. Do NOT include other information.
5. Select all definitions that could be useful in expressing the mathematical concepts in the statement.

