You are helping to solve a Lean theorem proving problem using the mathlib library. The problem is:
{{ formal_statement }}

Here are some potentially relevant theorems and definitions:
{{ theorems }}

Instructions:
1. Select important theorems and definitions necessary to solve the problem.
2. IMPORTANT: ONLY SELECT theorems from the GIVEN list.
3. Enclose each of them in separate <theorem> tags.
4. Only state the full names of the theorems. Do NOT include other information.
5. Select all theorems that could be useful in the intermediate steps of the proof.